.upload-form-container {
  top: 50;
  right: 30%;
  bottom: 50;
  left: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Optional: Stack children vertically */
  padding: 20px; /* Optional: Add padding for spacing */
  border-radius: 10px; /* Optional: Add border radius for rounded corners */
}

.upload-form {
  border: 2px dashed grey;
  padding: 20px;
  text-align: center;
}

.form-label {
  justify-content: center;
  display: flex;
  margin-top: 40px;
  align-items: center;
}

.form-input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
}

/*.upload-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #dd712f;
  color: white; */ /* Change the text color */ /*
  border: none;
  cursor: pointer;
  border-radius: 5px;
}*/

/*
.form-input:hover {
  cursor: pointer;
}

.form-label {
  cursor: default;
}
*/

.form-label:hover .choose-file-text {
  cursor: pointer;
}

.form-input::-webkit-file-upload-button {
  background-color: #3498db; /* Change the background color */
  color: white; /* Change the text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.form-input::-webkit-file-upload-button:hover {
  background-color: #2980b9; /* Change background color on hover */
}

/*.upload-button:hover {
  background-color: #2980b9; */ /* Button background color on hover */ /*
  color: ;
}*/

#success-message {
  display: none; /* Initially hide the loader and success message */
  font-weight: bold;
  color: #333;
}

/* Loader Styles */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  transform: translate(-#00FA9A50%, -50%);
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  display: none; /* Initially hide the loader */
}

.container-button {
  flex: 1;
  margin: 0 1%;
  color: white;
  text-align: center;
  display: flex;
  padding: 2% 1% 1%;
  gap: 75px;
}
.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 9%;
}

.date-container input {
  padding: 5px;
  font-size: 16px;
  border: 2px solid #dd712f;
  border-radius: 5px;
}

/* Optional: Add additional styling for better aesthetics */
.date-container input:focus {
  outline: none;
  border-color: #2ecc71; /* Change the border color on focus */
}
